<?xml version="1.0" encoding="UTF-8"?>

<launch>
    
    <arg name="rviz" default="true" />
    <arg name="rtabmapviz" default="true" />

    <arg name="odometry_topic" default="/base_controller/odom"/>
    <arg name="lidar_scan" default="/base_scan"/>
    <arg name="camera_rgb" default="/data_throttled_image"/>
    <arg name="camera_depth" default="/data_throttled_image_depth"/>
    <arg name="camera_info" default="/data_throttled_camera_info"/>

    <param name="use_sim_time" type="bool" value="True"/>


    <arg name="tf_topic" default="tf" />
    <group ns="gmapping_group">
        <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">

            <remap from="scan" to="$(arg lidar_scan)"/>
            <remap from="tf" to="$(arg tf_topic)"/>
        </node>

        <!-- visualization with rtabmapviz -->
        <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
            <param name="subscribe_depth" type="bool" value="true"/>
            <param name="subscribe_scan"  type="bool" value="true"/>
            <param name="queue_size"      type="int" value="10"/>
            <param name="frame_id"        type="string" value="base_footprint"/>

            <!-- Topics we subscribe -->
            <remap from="odom"              to="$(arg odometry_topic)"/>
            <remap from="scan"              to="$(arg lidar_scan)"/>
            <remap from="rgb/image"         to="$(arg camera_rgb)"/>
            <remap from="depth/image"       to="$(arg camera_depth)"/>
            <remap from="rgb/camera_info"   to="$(arg camera_info)"/>

            <param name="rgb/image_transport"   type="string" value="compressed"/>
            <param name="depth/image_transport" type="string" value="compressedDepth"/>
        </node>

        <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find rtabmap_ros)/launch/config/demo_robot_mapping.rviz"/>
        <node pkg="nodelet" type="nodelet" name="points_xyzrgb" args="standalone rtabmap_ros/point_cloud_xyzrgb">
            <remap from="rgb/image"         to="$(arg camera_rgb)"/>
            <remap from="depth/image"       to="$(arg camera_depth)"/>
            <remap from="rgb/camera_info"   to="$(arg camera_info)"/>
            <remap from="cloud"             to="voxel_cloud" />

            <param name="rgb/image_transport"   type="string" value="compressed"/>
            <param name="depth/image_transport" type="string" value="compressedDepth"/>

            <param name="queue_size" type="int" value="10"/>
            <param name="voxel_size" type="double" value="0.01"/>
        </node>
    </group>
    <!-- Finish here to run SLAM -->
</launch>
